/* Author: RHYTMELO */
/* Date: 2025-01-16 */
/* CSS for Spotify-inspired 404 page with spinning disk */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8dadb;
    color: #000;
  }
  
  .container {
    text-align: center;
    max-width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1rem 2rem;
  }
  
  .logo {
    background: #fff;
    width: 100px;
    height: 30px;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 14px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .content {
    margin: 5rem 2rem;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .back-link {
    display: inline-block;
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  
  .record-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  
  .record {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, #e6e6e6 30%, #a09fa1 50%, #000 100%);
    position: absolute;
    animation: spin 5s linear infinite;
  }
  
  .record::before {
    content: "404";
    font-size: 1.5rem;
    font-weight: bold;
    color: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .record-optical {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Keeps it on top of the spinning disk */
    pointer-events: none; /* Makes it non-interactive */
  }
  
  .arm {
    position: absolute;
    width: 150px;
    height: 10px;
    background: #fff;
    transform: rotate(15deg);
    top: 50px;
    right: -70px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  