.rhytmelo_icon-link {
    font-size: 14px;
    color: #087F43;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

.rhytmelo_icon-link:hover {
    color: #333333;
}

.rhytmelo_icon-link svg {
    width: 16px;
    height: 16px;
    fill: #087F43;
    transition: color 0.3s ease;
}

.rhytmelo_icon-link:hover svg {
    fill: #333333;
}

.rhytmelo_team-section {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
}

.rhytmelo_team-card {
    flex: 0 0 100%;
    max-width: calc(100% - 40px);
    text-align: left;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (min-width: 768px) {
    .rhytmelo_team-card {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (min-width: 1024px) {
    .rhytmelo_team-card {
        flex: 0 0 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}

.rhytmelo_team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.rhytmelo_team-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin-bottom: 15px;
}

.rhytmelo_team-card h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.rhytmelo_team-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.rhytmelo_team-card a {
    font-size: 14px;
    color: #087F43;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.rhytmelo_team-card a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #333333;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.rhytmelo_team-card a:hover::after {
    transform: scaleX(1);
}

.rhytmelo_team-card a:hover {
    color: #333333;
}

.rhytmelo_team-section::-webkit-scrollbar {
    height: 10px;
}

.rhytmelo_team-section::-webkit-scrollbar-thumb {
    background-color: #087F43;
    border-radius: 5px;
}

.rhytmelo_team-section::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.rhytmelo_team-section>.rhytmelo_team-card:last-child {
    margin-right: 40px;
}
